body {
  font-family: Segoe UI, Arial, Helvetica, sans-serif;
  font-size: 18px;
  overflow: hidden;
  color: #fff;
}

body {
  background-color: #004B50;
}

.bubble-1,
.bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #038274;
}

.bubble-2 {
  top: auto;
  bottom: 0;
}

.load-wrapp {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load {
  width: 100px;
  height: 100px;
}

.load .spinner {
  -webkit-animation: loadingI 2s linear infinite;
          animation: loadingI 2s linear infinite;
}

.load .bubble-1, .load .bubble-2 {
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
}

.load .bubble-2 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes loadingI {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadingI {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.play_btn {
  display: none;
}

.play_panel {
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.sec {
  padding: 1.8rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.slider-wrapper div {
  position: relative;
}

.slider-wrapper {
  margin-top: 5vw;
  margin-left: 11vw;
}

.slide-image {
  height: 24vw;
}

.slide-image img {
  width: 24vw;
  cursor: pointer;
}

.slide-content {
  width: 25vw;
  padding: 0vw 18vw 3vw 9vw;
}

.slide-date {
  color: #038274;
  font-weight: 400;
  letter-spacing: 0.1vw;
  padding-bottom: 1.4vw;
}

.slide-title {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0.1vw;
  line-height: 40px;
  padding-bottom: 1.8vw;
}

.slide-text {
  opacity: 0.8;
  padding-bottom: 4vw;
}

.slide-more {
  font-weight: 400;
  letter-spacing: 0.1vw;
  float: left;
}

.slide-bullet {
  width: 0.5vw;
  height: 0.5vw;
  background-color: #0b8bcc;
  border-radius: 200%;
  position: relative;
  margin-left: 1.2vw;
}

.slide-nav {
  margin-left: 64vw;
  margin-top: -5.5vw;
}

div.overlay-blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

/*div.overlay-blue:hover {background-color: rgba(13, 27, 43, 0.5);}*/
.arrows {
  width: 3.5vw;
  margin-top: -5.8vw;
  margin-left: 72vw;
  position: relative;
}

.arrow {
  display: inline-block;
  position: absolute;
  width: 1.2vw;
  height: 1.2vw;
  background: transparent;
  text-indent: -9999px;
  border-top: 0.15vw solid #fff;
  border-left: 0.15vw solid #fff;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  text-decoration: none;
  color: transparent;
}

.arrow:hover {
  border-color: #038274;
  border-width: 0.25vw;
}

.arrow:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow.prev {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 0;
}

.arrow.next {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  right: 0;
}

.arrow.next.blink {
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
  0%, 100% {
    -webkit-transform: rotate(135deg) scale(0.8);
            transform: rotate(135deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(135deg) scale(1);
            transform: rotate(135deg) scale(1);
  }
}

@keyframes blink {
  0%, 100% {
    -webkit-transform: rotate(135deg) scale(0.8);
            transform: rotate(135deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(135deg) scale(1);
            transform: rotate(135deg) scale(1);
  }
}

#audio_player {
  display: none;
}
/*# sourceMappingURL=style.css.map */