body {
  font-family: Segoe UI, Arial, Helvetica, sans-serif;
  font-size: 18px;
  overflow: hidden;
}

#audio_player {
  display: none;
}

.bubble-1,
.bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #038274;
}

.bubble-2 {
  top: auto;
  bottom: 0;
}

.load-wrapp {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load {
  width: 100px;
  height: 100px;
}

.load .spinner {
  -webkit-animation: loadingI 2s linear infinite;
          animation: loadingI 2s linear infinite;
}

.load .bubble-1,
.load .bubble-2 {
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
}

.load .bubble-2 {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes loadingI {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadingI {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

h1 {
  font-weight: bold;
  font-size: 25px;
}

.sec {
  padding: 0 2rem;
}

.sequence {
  position: relative;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e6e6e6;
  /* padding: 20px; */
  border: 10px solid #e6e6e6;
}

.sequence .row1,
.sequence .row2 {
  width: 50%;
  height: 345px;
  /* margin-left: 50%; */
  /* background-color: #d4e43a; */
}

.sequence .row1 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  /* border: 6px solid #B6000F; */
}

.sequence .row1 .sequence_img img {
  width: 100%;
  height: 100%;
  float: left;
}

.sequence .sequence_text {
  display: block;
  margin-left: calc(50% + 10px);
  background-color: #038274;
  width: calc(50% - 10px);
  float: left;
  height: 100%;
  color: #fff;
  position: absolute;
}

.sequence .sequence_text .padding-20 {
  padding: 20px;
}

.sequence_img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.nav_button {
  position: absolute;
  /* background-color: #bf6363; */
  height: 100%;
  width: 100%;
  z-index: 101;
}

.sequence .nav_button .next {
  top: 45%;
  right: 0px;
  position: absolute;
}

.sequence .nav_button .prev {
  top: 45%;
  left: 0px;
  position: absolute;
  z-index: 102;
  /* background-color: #d41a1a; */
}

.sequence .nav_button .prev,
.sequence .nav_button .next {
  background-color: #038274;
  border: 1px solid #038274;
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  width: 40px;
  height: 40px;
}

.circle {
  width: 8px;
  height: 8px;
  background: #333;
  margin: 5px;
  border-radius: 10px;
}

.circle-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
}

.circle.active {
  background-color: #038274;
}

.leftIndicator {
  background-color: #e6e6e6;
  position: absolute;
  max-width: 1200px;
  margin: 0 auto;
  /* bottom: -10px; */
  position: relative;
  border-right: 10px solid #e6e6e6;
  border-left: 10px solid #e6e6e6;
}

.leftIndicator .half {
  width: 50%;
}

.head {
  display: none;
  position: absolute;
  width: 100%;
  height: 48px;
  z-index: 102;
  background-color: #038274;
}

.head img {
  padding: 16px;
}

@media (max-width: 580px) {
  .sequence .row1,
  .sequence .row2 {
    width: 100%;
    height: 261px;
  }
  .sequence .sequence_text {
    display: none;
    margin-left: 0px;
    background-color: #038274;
    width: 100%;
  }
  .leftIndicator .half {
    width: 100%;
  }
  .head {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */